<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="QLQuanPhoConnectionString" 
             connectionString="Data Source=localhost;Initial Catalog=QLQuanPho;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;TrustServerCertificate=True;Application Name=QLQuanPhoApp" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DefaultTaxRate" value="10" />
        <add key="DefaultDiscount" value="0" />
    </appSettings>
</configuration>